<div class="container">
  <h1 style="padding-top: 1rem">
    Archive
  </h1>
  <div class="content">
    <ng-container *ngFor="let task of tasks">
      <mat-card [ngClass]="task.completed ? 'task-card-completed' : 'task-card'">
        <mat-card-header>
          <mat-card-title>{{ task.title }}</mat-card-title>
          <mat-card-subtitle>{{ task.deadline | date:'dd/MM/yyyy' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-icon-button color="primary" (click)="delete(task)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>

